a{
    text-decoration:none;
    color: black;
}
h1{
    font-family:'Courgette', cursive;
    font-weight:bold;
    text-align: center;
    font-size:30px;
    margin-top: -40%;
    color:#C55394;

    
} 
h2{ 
    margin:20px;
    padding-top:40px;
    font-family:'Courgette', cursive;
    color:#C55394;
} 
h4{
    font-family:'Courgette', cursive;
    font-weight:bold;
    color:#C55394;
} 
/**************************************Header********************************/

ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
    width:100%;
    overflow: hidden;
    background-color:#C55394;
}
li{
    float:right;
    color:white;
    text-align:center;
}
#logo{
    float:left;
    text-align:center;
    padding:30px 20px;
    font-family:'Courgette', cursive;

}
li a{
    display:block;
    color:white;
    text-align:center;
    padding:30px 20px ;
}
li a:hover:not(#logo) {
    background-color:#EB43A3;
}
/**********************tout la section************************/
body{
    font-family:Arial, sans-serif;
    background-image:url(img/background.png);
    background-repeat:repeat;
    padding:0px;
    margin-top:0px;
}
#Bannière{
    display:block;
    border:none;
    width:300px;
    margin-left: 350px;
    margin-right:350px;
    padding:200px 100px 80px 100px;
    background-image:url(img/rainbow.png);
    background-position:center;}

#bloc1{
    display:block;
    border:none;
    margin-left:100px;
    margin-right:100px;
    margin-top: -110px;
    background-color:white;
    border-radius: 15px;
    box-shadow: -1px 4px 28px -1px black;
}
/*************************introduction**********************/
.introduction{
    margin:10px;
}
#para{
    margin-top:-10px;
}
.photo{
    display:block;
}
.images{
    display: flex;
    flex-wrap:nowrap;
    margin-left:20px;
    transition: transform (2s);
}
figure:hover{
   transform: scale(1,2);
    
}
figure{

    background-color: #F1F1F1;
    margin-right:5px;
    padding:0px;
}
figcaption{
    border:1px solid;
    color:white;
    background-color:black;
    opacity:0.8;
    text-align:center;
    font-size:12px;
    font-weight: bold;
    margin-top:-40px;
    padding:10px;
}
/*******************coordoné****************************/
#gps{
    display:bock;
    border:none;
    padding:15px;
}
#article{
    display:bock;
    border:none;
    padding:15px;
}
#flexbox{
    display:flex;
}
.bouton{
    border-radius:5px;
    background-color:#EB43A3;
    margin:10px;
    padding:2px;
    width:70px;
}
footer{
    width:100%;
    margin-top:40px;
    padding:20px;
    overflow: hidden;
    background-color:#C55394;
}
span{
    font-size:12px;
    color:white;
    margin-left:1100px;
    margin-bottom:15px;
}






 